<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastro</servlet-name>
        <servlet-class>Servlet.ServletCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDoacao</servlet-name>
        <servlet-class>Servlet.ServletDoacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPerfil</servlet-name>
        <servlet-class>Servlet.ServletPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletOng</servlet-name>
        <servlet-class>Servlet.ServletOng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPesquisa</servlet-name>
        <servlet-class>Servlet.ServletPesquisa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastro</servlet-name>
        <url-pattern>/ServletCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDoacao</servlet-name>
        <url-pattern>/ServletDoacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPerfil</servlet-name>
        <url-pattern>/ServletPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletOng</servlet-name>
        <url-pattern>/ServletOng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPesquisa</servlet-name>
        <url-pattern>/ServletPesquisa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
