/* 
    Created on : 15/06/2017, 16:12:34
    Author     : Leticia
*/
.fundo1 {
    margin-top: 100px;
    opacity: 0.7;
}

.fundo2 {
    background-color: #222;
    padding: 30px 20px;
    opacity: 0.9;
}

.erro {
    color: red;
}