/* 
    Created on : 23/06/2017, 02:43:10
    Author     : User
*/
a.list-group-item {
    border-radius: 0px;
    height:auto;
    min-height:220px;
    opacity: 0.7;
    background-color: #222;
    border-color: #222;
    margin: 10px;
}
a.list-group-item:hover {
    opacity: 0.7;
    background-color: #222;
    border-color: #222;
    border-radius: 0px;
}
a.list-group-item.active small {
    color: #222;
}
